main {
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

    }

    .card {
        margin-bottom: 15px;
        height: 400px;
    }

    .card-img-top {
        height: 139px;
    }
}

.piedepagina {
    background-color: $ColorFooter;
    width: 97%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}