main {
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

    }

    .card {
        margin-bottom: 15px;
        height: 400px;
    }

    .card-img-top {
        height: 139px;
    }
}