main {
    .images {
        display: flex;
        flex-direction: row;
        margin: 30px;
        align-items: center;
        justify-content: space-between;
    }

    .img-container {
        width: 33%;
        box-shadow: 4px 4px 8px;

        img {
            width: 100%;
        }
    }

    .carrousel {
        margin-left: 50px;
        width: 80%;
        height: auto;
        align-items: center;
        box-shadow: 4px 4px 8px;
    }
}

.piedepagina {
    background-color: $ColorFooter;
    width: 97%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}