main {
    .home-seccion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    video,
    .piramide {
        width: 90%;
    }

    .background {
        margin: 50px;
    }

    .vid {
        display: flex;
        justify-content: center;
    }

    @include mobile {
        .piramide {
            width: 95%;
        }
    }
}