main {
    .home-seccion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .background {
        width: 60%;
        box-shadow: 4px 4px 8px;
        transition: .4s;
    }

    .background {
        margin: 50px;
    }

    .background:hover {
        transform: scale(1.1);
    }

    video {
        width: 90%;
        box-shadow: 4px 4px 8px;
    }

    .vid {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    @include mobile {
        .piramide {
            width: 95%;
        }
    }
}


.piedepagina {
    background-color: $ColorFooter;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}