main {

    .empresa {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkblue;
        text-align: center;
    }

    .equipo-card {
        margin: auto;
    }
}

.piedepagina {
    background-color: $ColorFooter;
    width: 97%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}