main {

    .empresa {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkblue;
        text-align: center;
    }

    .equipo-card {
        margin: auto;
    }
}