* {
    margin: 0%;
    padding: 0%;
}

$ColorPrimario: aquamarine;
$Colorh1: crimson;
$Colorh2: indigo;
$Colorh4: rgb(11, 11, 66);
$ColorNav: rgb(22, 22, 63);
$BackColorBody: rgb(189, 233, 218);
$ColorFooter: rgba(237, 237, 237, 0.968);



body {
    background-color: $BackColorBody;
}

h1 {
    color: $Colorh1;
    text-decoration-line: underline;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 400%;
}

h2 {
    color: $Colorh2;
    text-align: center;
}

h4 {
    color: $Colorh4;
}

.piedepagina {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: auto;
    justify-content: space-between;
    width: 90%;
}

header {
    .navbar {
        background-color: $ColorNav !important;
    }

    .nav-link {
        color: aliceblue !important;
    }

    .navbar-toggler-icon {
        background-color: aliceblue;
        border-radius: 8px;
    }
}

@mixin mobile {
    @media (max-width: 650px) {
        h1 {
            font-size: 22px;
        }

        h2 {
            font-size: 16px;
        }

        h4 {
            font-size: 12px;

        }

        @content
    }
}

@mixin tabletDesk {
    @media (min-width: 992px) {
        h1 {
            background-color: red;
            font-size: 24px;
        }

        h2 {
            font-size: 18px;
        }

        h4 {
            font-size: 14px;

        }

    }
}