* {
    padding: 0%;
    margin: 0;
}

body {
    background-color: rgb(189, 233, 218);
}


h1 {
    color: crimson;
    text-decoration-line: underline;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 400%;
}

h2 {
    color: indigo;
    text-align: center;
}

h4{
    color: rgb(11, 11, 66);
}
.nav-link {
        color: aliceblue !important;
}
.navbar-toggler-icon {
    background-color: aliceblue;
    border-radius: 8px;
}


video,
.piramide {
    width: 90%;
    }

    .navbar {
        background-color: rgb(22, 22, 63) !important;
    }

.background{
    margin: 50px;
}

.seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.piedepagina {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: auto;
    justify-content: space-between;
    width: 90%;
}

.vid {
        display: flex;
        justify-content: center;
    }

    
    @media (min-width: 992px) {
                h1{
            font-size: 24px;
        }
        h2{
            font-size: 18px;
        }
        h4{
            font-size: 14px;

        }

        video,
        .piramide {
            width: 75%;
        }
        
    }

    @media (max-width: 650px) {


        h1{
            font-size: 22px;
        }
        h2{
            font-size: 16px;
        }
        h4{
            font-size: 12px;

        }

        .piramide {
        width: 95%;
        }
        
        
    
    }

/* quienes somos*/

    .empresa {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkblue;
        text-align: center;
    }

    .equipo-card {
        margin: auto;
    }

    /* Destinos*/

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .card {
        margin-bottom: 15px;
        height: 400px;
    }
    .card-img-top {
        height: 139px;
    }

    /* Galeria */

    .images {
        display: flex;
        flex-direction: row;
        margin: 30px;
        align-items: center;
        justify-content: space-between;
    }

    .img-container {
        width: 33%; 
    }

    .img-container img{
        width: 100%;
    }

    .carrousel{
        margin-left: 50px;
        width: 80%;
        height: auto;
        align-items: center;

    }
    @media (max-width: 650px) {
        .images {
            display: flex;
            flex-direction: column;
            width: 95%;
            height: auto;
        }
        .img-container{
            width: 75%;
            margin-bottom: 10px;
        }
    }
